<div class="hero-main">
    <div class="hero-section">
        <h2>{{"welcome.Welcome to Riverside Food Lab"|translate}}</h2>
        <p>{{"welcome.Where culinary creativity meets community spirit! Our mission is to create a vibrant hub for food lovers, entrepreneurs, and local vendors in Riverside, California. We believe that food is more than just nourishment; it’s an experience that brings people together."|translate}}</p>
        <button><a routerLink="/home" class="bttext">{{"welcome.TRY OUR FOOD"|translate}}</a></button>
      </div>
</div>

  