.hero-main {
    background-image: url("../../assets/images/welcome/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0;
    
}

.hero-main h2 {
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px black;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 2rem;
    background-color: rgba(42, 43, 56, 0.9);
    color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0px 8px 24px 10px rgba(39, 39, 39, 0.918);
}

.hero-section h2 {
    font-family: "Playwrite GB S", cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #ffeba7;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px rgba(58, 56, 56, 0.5);
}

.hero-section p {
    font-family: "Playwrite GB S", cursive;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d3d3d3;
    background: rgba(31, 32, 41, 0.8);
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(210, 105, 30, 0.753);
    

}

button:hover{
    color: rgb(207, 191, 180);
    box-shadow: 3px 3px 5px 7px rgba(210, 105, 30, 0.267);
    cursor: pointer;
    transition: 0.5s;
}

.bttext:hover{
    color: rgb(207, 191, 180);
}


.bttext {
    color: #ffeba7;
    font-family: "Playwrite GB S", cursive;
    font-weight: bolder;
    text-decoration: none;
}