<div class="cart-item">
  <!-- მარცხენა მხარე -->
  <div class="left">
    <div class="img-container">
      <img [src]="cartItem.product.image" [alt]="cartItem.product.name" />
    </div>
    <h4 class="name">{{ cartItem.product.name }}</h4>
  </div>

  <!-- მარჯვენა მხარე -->
  <div class="right">
    <div class="item-details">
      <!-- რაოდენობა -->
      <div class="detail quantity">
        <button class="change-btn" (click)="updateQuantity(cartItem.quantity - 1)">−</button>
        <input type="number" min="1" max="99" [(ngModel)]="cartItem.quantity"
               (change)="updateQuantity(cartItem.quantity)" />
        <button class="change-btn" (click)="updateQuantity(cartItem.quantity + 1)">+</button>
      </div>

      <!-- ერთეულის ფასი -->
      <div class="detail price">
        <p>{{ cartItem.price | currency:'GEL':'symbol' }}</p>
      </div>

      <!-- ჯამური ფასი -->
      <div class="detail total-price">
        <p>{{ cartItem.price * cartItem.quantity | currency:'GEL':'symbol' }}</p>
      </div>
    </div>

    <!-- წაშლა -->
    <button class="delete-btn" (click)="deleteProduct(cartItem)"></button>
  </div>
</div>
