* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    transition: background-color 0.2s ease-in-out;
}

h4 {
    font-family: "Playwrite GB S", cursive;
    font-size: large !important;
}

.cart-item:hover {
    background-color: #dbaa6a;
}

.cart-item .left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cart-item .left .img-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
}

.cart-item .left .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cart-item .left .name {
    text-align: left;
}

.cart-item .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Qty | Price | Total */
.cart-item .right .item-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 400px;
}

    .cart-item .right .item-details .detail {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-item .right .item-details .quantity {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #999;
    padding: 5px;
    width: fit-content;
}

.cart-item .right .item-details .quantity .change-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #b9b7b7;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cart-item .right .item-details .quantity .change-btn span {
    font-size: 19.5px;
}

.cart-item .right .item-details .quantity .change-btn:hover {
    background-color: #cfa10a;
}

.cart-item .right .item-details .quantity input {
    border: none;
    outline: none;
    width: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.cart-item .right .item-details .quantity input::-webkit-outer-spin-button,
.cart-item .right .item-details .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-item p {
    font-family: "Playwrite GB S", cursive;
    font-size: large !important;
    padding: 10px 0 0 0;
}

.cart-item .right .delete-btn {
    width: 18px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.cart-item .right .delete-btn::before,
.cart-item .right .delete-btn::after {
    content: "";
    width: calc(100% * 1.4142);
    height: 4.5px;
    border-radius: 5px;
    display: block;
    background-color: rgb(112, 70, 70);
    position: absolute;
    transition: background-color 0.2s ease;
    transform-origin: left center;
}

.cart-item .right .delete-btn::before {
    top: -2.25px;
    transform: rotate(45deg);
}

.cart-item .right .delete-btn::after {
    bottom: -2.25px;
    transform: rotate(-45deg);
}

.cart-item .right .delete-btn:hover::before,
.cart-item .right .delete-btn:hover::after {
    background-color: rgb(231, 17, 17);
}

/* Responsive */
@media screen and (max-width: 924px) {
    .cart-item {
        gap: 25px;
        margin: 20px;
    }

    .cart-item .right .item-details {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        justify-items: start;
    }
}

@media screen and (max-width: 720px) {
    .cart-item {
        padding: 20px 10px;
    }

    .cart-item .left {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 5px;
    }

    .cart-item .left .name {
        min-width: 100px;
        font-size: 14px;
    }

    .cart-item .right .item-details {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        justify-items: start;
    }
}

@media screen and (max-width: 560px) {
    .cart-item {
        gap: 10px;
    }

    .cart-item .right {
        gap: 8px;
    }

    .cart-item .right .delete-btn {
        width: 14px;
        height: 14px;
    }

    .cart-item .right .delete-btn::before,
    .cart-item .right .delete-btn::after {
        height: 3.5px;
    }

    .cart-item .right .delete-btn::before {
        top: -1.75px;
    }

    .cart-item .right .delete-btn::after {
        bottom: -1.75px;
    }

    .cart-item .right .item-details {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        justify-items: start;
    }

    .cart-item .right .item-details p {
        font-size: 14.5px;
    }

    .cart-item .right .item-details .quantity {
        gap: 4px;
        padding: 5px 3px;
    }

    .cart-item .right .item-details .quantity .change-btn {
        width: 14px;
        height: 14px;
    }

    .cart-item .right .item-details .quantity .change-btn span {
        font-size: 16px;
    }

    .cart-item .right .item-details .quantity input {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    .cart-item .right .item-details {
        width: 200px;
        gap: 5px;
    }
}
