.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.089);
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center;  
  z-index: 9999;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ce8b47;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-overlay p {
  font-size: 1rem;
  color: #333;
  margin: 0;
}
