.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite GB S", cursive;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 50vh;

}

.container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #976328;
  border-radius: 8px;
}

.head {
  text-align: center;
  margin-bottom: 1.5rem;

}

.head span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.head p {
  font-size: 0.9rem;
  color: #333;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.inputs input,
.inputs select {
  width: 100%;
  padding: 0.8rem;
  border: 1px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #2b2a29;
  color: #d3d3d3;
}

.inputs input:focus,
.inputs select:focus {
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 8px 24px 0 rgb(255, 235, 167, 0.2);
  background-color: #ffeba7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: black;
}

.form-footer a {
  color: #ffeba7;
  text-decoration: none;
  font-weight: bold;
}

.form-footer a:hover {
  text-decoration: underline;
}

.ff a {
  color: #2b2a29;
  font-weight: bolder;
}


.inputs label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: #333;

}


.inputs input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #ffeba7; 
  border-radius: 4px;
}


.inputs label:hover {
  color: #ffeba7;
  transition: color 0.3s ease;
}

.warning {
  color: #181818;
  font-size: 0.85rem;
  margin-top: -0.5rem;
}


@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .head span {
    font-size: 1.5rem;
  }

  button {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
}