<div class="reset-wrapper">
  <h2>{{ 'password.ResetTitle' | translate }}</h2>
  <div class="message" *ngIf="message">{{ message | translate }}</div>

  <form [formGroup]="form" (ngSubmit)="resetPassword()" class="reset-form">
    <div class="field">
      <label for="email">{{ 'password.EmailLabel' | translate }}</label>
      <input id="email" formControlName="email" type="email" [placeholder]="'password.EmailPlaceholder' | translate" />
    </div>
    
    <button type="button" class="btn secondary" (click)="requestCode()" [disabled]="countdown > 0 || isSubmitting">
      {{ 'password.RequestCode' | translate }}
      <span *ngIf="countdown > 0">
        ({{ countdownDisplay }})
      </span>
    </button>


    <div class="field">
      <label for="code">{{ 'password.CodeLabel' | translate }}</label>
      <input id="code" formControlName="code" type="text" [placeholder]="'password.CodePlaceholder' | translate" />
    </div>

    <div class="field">
      <label for="newPassword">{{ 'password.NewPasswordLabel' | translate }}</label>
      <input id="newPassword" formControlName="newPassword" type="password"
        [placeholder]="'password.NewPasswordPlaceholder' | translate"
        [class.invalid]="form.hasError('passwordsMismatch')" />
    </div>
    <div class="error" *ngIf="form.get('newPassword')?.hasError('minlength') && form.get('newPassword')?.touched">
      {{ 'password.MinLengthError' | translate }}
    </div>

    <div class="field">
      <label for="confirmPassword">{{ 'password.ConfirmPasswordLabel' | translate }}</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password"
        [placeholder]="'password.ConfirmPasswordPlaceholder' | translate"
        [class.invalid]="form.hasError('passwordsMismatch')" />

      <div class="error" *ngIf="form.hasError('passwordsMismatch')">
        {{ 'password.PasswordMismatchError' | translate }}
      </div>

      <div class="success" *ngIf="!form.hasError('passwordsMismatch') && form.get('confirmPassword')?.value">
        {{ 'password.PasswordsMatch' | translate }}
      </div>
    </div>


    <button type="submit" class="btn primary" [disabled]="isSubmitting || form.invalid">
      {{ 'password.Submit' | translate }}
    </button>
  </form>

  
</div>