.products {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 2 * 20px) / 3));
    gap: 40px 20px;
}

.products app-product {
    display: block;
    height: 100%;
}


@media screen and (max-width: 1100px) {
    .products {
        grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    }
}

@media screen and (max-width: 771px) {
    .products {
        position: relative;
        top: 65px;
    }
}