
.categories-toggle {
    display: none;
}

.categories-toggle input {
    position: absolute;
    opacity: 0;
}

.categories-toggle label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
    max-width: max-content;
}

.categories-toggle label .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #888682bd; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-toggle label .icon-container i {
    color: #333;
}

.categories-toggle:has(#categories-toggle-checkbox:checked)+.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
}

.categories-toggle:has(#categories-toggle-checkbox:checked)+.container .categories {
    border-bottom: none;
    flex-direction: column;
    width: 250px;
    background-color: #ce8b47; 
    border-radius: 10px;
    font-family: "Playwrite GB S", cursive; 
}

.categories-toggle:has(#categories-toggle-checkbox:checked)+.container .categories .category {
    border-radius: 0;
}

.categories {
    margin: auto;
    border-bottom: 5px solid chocolate;
    display: flex;
    font-family: "Playwrite GB S", cursive; 
}

.categories .categories-header {
    padding: 15px;
    display: none;
    justify-content: flex-end;
}

.categories .categories-header .close-btn {
   
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #aaaaaa56;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 100px; 
}


.categories .categories-header .close-btn:hover {
    background-color: chocolate;
}

.categories .category {
    flex: auto;
    padding: 15px 0;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-family: "Playwrite GB S", cursive; 
}

.categories .category:hover,
.categories .category.selected {
    background-color: chocolate;
    color: white;
}

@media screen and (max-width: 950px) {
    .categories .category {
        font-weight: 400;
        font-size: 14px;
    }
}

@media screen and (max-width: 771px) {
    .categories-toggle {
        display: block;
    }

    .container {
        display: none;
    }

    .container .categories .categories-header {
        display: flex;
    }
}
