<section class="hero-section">
    <app-welcome></app-welcome>
</section>

<div class="main">
    <div class="left-text">
        <p>{{"main.The Riverside Food Lab is always inspired by its restaurants, community, and everyone in it. Inspiration comes in many forms and from many places and is always evolving. Are you a creator? Social Media Influencer? Contact us today and tell us how you are inspired!"|translate}}</p>
    </div>

    <div class="slideshow-container">

        <img [src]="getSlide()" alt="Slide image" />

    </div>

    <div class="right-text">
        <p>{{"main.Riverside Food Lab is the IE's first food hall with a huge selection from 14 locally owned eateries + beverage spots, including; vegan, veggie, & gluten-free! Open 7 days a week for breakfast, lunch, dinner, sweet treats, craft cocktails + beer, boba, juice, and late night bites."|translate}}</p>
    </div>
</div>

<div>
    <h1>{{"main.A small list of our food"|translate}}</h1>
</div>

<div class="food">
    <div class="food_about">
        <h2>Thai Chicken Laab Recipe (Larb Gai)</h2>
        <p>{{"main.Thai Chicken Laab Recipe (Larb Gai)"|translate}}</p>
    </div>
        <img src="images/mainpagefood/laab-gai-sq-1.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Som tam papaya salad</h2>
        <p>{{"main.Som tam papaya salad"|translate}}</p>
    </div>
        <img src="images/mainpagefood/papaya-salad-4x5-vert.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Tom Kha Gai (Thai coconut chicken soup)</h2>
        <p>{{"main.Tom Kha Gai (Thai coconut chicken soup)"|translate}}</p>
    </div>
        <img src="images/mainpagefood/Tom-kha-gai-new-sq3.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Tom Yum Gai Soup (Thai Hot and Sour Chicken Soup Recipe)</h2>
        <p>{{"main.Tom Yum Gai Soup"|translate}}</p>
    </div>
        <img src="images/mainpagefood/Thai-tom-yum-gai-soup-4.webp" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Thai Coconut Soup with Shrimp (Tom Kha Goong)</h2>
        <p>{{"main.Thai Coconut Soup with Shrimp"|translate}}</p>
    </div>
        <img src="images/mainpagefood/Tom-kha-gai-new-sq3.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Tom Yum Soup (Tom Yum Goong)</h2>
        <p>{{"main.Tom Yum Soup (Tom Yum Goong)"|translate}}</p>
    </div>
        <img src="images/mainpagefood/tom-yum-goong-blog6.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Tom yum vegetarian</h2>
        <p>{{"main.Tom yum vegetarian"|translate}}</p>
    </div>
        <img src="images/mainpagefood/LAZY-1-Pot-Vegan-Tom-Yum-Soup7.jpg" alt="">
</div>
<div class="food">
    <div class="food_about">
        <h2>Vegan Tom Kha Gai (Thai Coconut Soup)</h2>
        <p>{{"main.Vegan Tom Kha Gai"|translate}}</p>
    </div>
        <img class="img8" src="images/mainpagefood/Vegan-Tom-Kha-Gai8.jpg" alt="">
</div>