.slideshow-container {
  display: flex;
  gap: 20px;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0px 0px 7px 7px rgba(15, 15, 15, 0.788);
}

.slideshow-container img {
  width: 100%;
  max-height: 445px;
  height: auto;
  display: block;
  transition: opacity 4s ease-in-out;
}

.main {
  display: flex;
  margin-top: 30px;

}

.left-text,
.right-text {
  display: flex;
  max-width: 25%;
  text-align: justify;
  padding: 20px;
  align-items: center;
  line-height: 40px;
  font-family: "Playwrite GB S", cursive;
  font-weight: 600;

}

h1 {
  font-family: "Playwrite GB S", cursive;
  display: flex;
  justify-content: center;
  font-size: 2rem !important;
}

.food {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 200px;


}

.food_about {
  display: grid;
  text-align: justify;
  width: 50%;

}

.food_about h2 {
  font-family: "Playwrite GB S", cursive;
  font-size: 1rem !important;
  font-weight: bold;
}

.food_about p {
  font-family: "Playwrite GB S", cursive;

}

img {
  width: 200px;      
  height: 200px;      
  object-fit: cover;   
  box-shadow: 0px 1px 2px 0px;
  border-radius: 10px;
  display: block;    
  margin: 0 auto;    
}


@media screen and (max-width: 1000px) {
  .food {
    display: grid;
    gap: 20px;
  }

  .food_about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;

  }

  img {
    width: 100%;

  }
}

@media screen and (max-width: 1077px) {
  .hero-section {
    padding: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .left-text,
  .right-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 409px) {
  .left-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .left-text {
    min-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .hero-section {
    padding: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

}