form {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family: "Playwrite GB S", cursive;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: chocolate;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Playwrite GB S", cursive;
   
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  @media (max-width: 600px) {
    form {
      max-width: 100%;
      margin: 20px; 
    }
  }