<div class="cart-list">
  <app-cart-item
    *ngFor="let item of pagedItems"
    [cartItem]="item"
    (delete)="deleteItem($event)">
  </app-cart-item>
</div>

<div class="pagination" *ngIf="basket && basket.items.length > pageSize">
  <button (click)="changePage(page - 1)" [disabled]="page === 1">
    {{ 'pagination.prev' | translate }}
  </button>

  <span>
    {{ 'pagination.page' | translate }} {{ page }}
    {{ 'pagination.of' | translate }} {{ totalPages }}
  </span>

  <button (click)="changePage(page + 1)" [disabled]="page === totalPages">
    {{ 'pagination.next' | translate }}
  </button>
</div>

<!-- ჯამური ფასი -->
<!-- <div class="basket-total" *ngIf="basket">
  <strong>{{ 'basket.total' | translate }}:</strong>
  {{ basketService.totalPrice$ | async | currency:"₾" }}
</div> -->
