
  mat-accordion {
    padding-top: 30px;
    
  }

  .mat-accordion {
    padding: 24px
  }

  .mat-accordion h2 {
    padding: 24px;
    display: flex;
    font-family: "Playwrite GB S", cursive;
    color: chocolate;
  }

  .mat-accordion .mat-expansion-panel{
    max-width: 75% !important;
    margin: auto;
    margin-top:24px ;
  }

  
  .mat-accordion[_ngcontent-ng-c513362113] .mat-expansion-panel[_ngcontent-ng-c513362113] {
    border-radius: 12px;
  }



  mat-expansion-panel {
    
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  mat-expansion-panel-header {
    padding: 16px;
    background-color: #8b5f25c7;
    font-family: "Playwrite GB S", cursive;
  }

  p {
    color: chocolate;
    font-family: "Playwrite GB S", cursive;
    font-weight: 600;
  }
  
  mat-panel-title {
    font-weight: bolder;
    margin-right: 16px;
  }
  
  mat-panel-description {
    font-size: 0.875em;
    color: #757575;
  }
  
  mat-expansion-panel-content {
    padding: 16px;
  }