<mat-accordion>
    <h2>{{'faq.h2'|translate}}</h2>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">

        <mat-expansion-panel-header>
            <mat-panel-title> {{'faq.holiday hours'|translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'faq.Thanksgiving'|translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> {{'faq.Food Hall'|translate}} </mat-panel-title>

        </mat-expansion-panel-header>
        <p>{{'faq.Food Halls are'|translate}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> {{'faq.current mask policy'|translate}} </mat-panel-title>

        </mat-expansion-panel-header>
        <p>{{'faq.The Riverside Food Lab'|translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> {{'faq.What are the current seating'|translate}} </mat-panel-title>

        </mat-expansion-panel-header>
        <p>{{'faq.We offer'|translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> {{'faq.Are there'|translate}} </mat-panel-title>

        </mat-expansion-panel-header>
        <p>{{'faq.Yes!'|translate}}</p>
    </mat-expansion-panel>


</mat-accordion>