.filter-container {
    display: flex;

}

.filter {
    max-width: 230px;
    box-shadow: 2px 4px 5px 5px rgba(210, 105, 30, 0.541);
}

span {
    font-family: "Playwrite GB S", cursive;
}


.filter-toggle {
    display: none;
    position: absolute;

}

.filter-toggle input {
    position: absolute;
    opacity: 0;
}

.filter-toggle label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
}

.filter-toggle label .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #888682bd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-toggle label .icon-container i {
    color: #333;
}


.filter-toggle:has(#filter-toggle-checkbox:checked)+.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
}

.filter-container:has(#close-btn:checked) {
    display: none;
}

.filter-container .filter {
    padding: 20px;
    background-color: #ce8b47;
    border-radius: 10px;
    width: 400px !important;      
    min-height: 400px;
    box-sizing: border-box;
}

.filter-container .filter .filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-container .filter .filter-header .filter-title {
    margin: auto;
    font-family: "Playwrite GB S", cursive;
    font-size: large;

}

.filter-container .filter .filter-header .close-btn {
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #aaaaaa56;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.filter-container .filter .filter-header .close-btn:hover {
    background-color: chocolate;
}

.filter-container .filter form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filter-container .filter form .input-container {
    display: flex;
    gap: 10px;
}

.filter-container .filter form .input-container.range-container {
    flex-direction: column;
}

.filter-container .filter form .input-container.range-container .spiciness-label {
    display: flex;
    gap: 10px;
    font-family: "Playwrite GB S", cursive;
}


.filter-container .filter form .input-container.range-container .spiciness-label p {
    font-size: 14px;
    white-space: nowrap;
}

.filter-container .filter form .input-container.range-container input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    width: 160px;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.filter-container .filter form .input-container.range-container input[type='range']:active {
    box-shadow: 0 0 5px chocolate;
    cursor: grabbing;
}

.filter-container .filter form .input-container.range-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: chocolate;
}

.filter-container .filter form .input-container.range-container input[type='range']::-webkit-slider-thumb:active {
    box-shadow: 0 0 5px 1px chocolate;
}

.filter-container .filter form .input-container.checkbox-container {
    align-items: center;
    font-family: "Playwrite GB S", cursive;
}

.filter-container .filter form .input-container.checkbox-container label {
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter-container .filter form .input-container.checkbox-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container .filter form .input-container.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.filter-container .filter form .input-container.checkbox-container input:checked+label::before {
    content: '\002714';
    background-color: chocolate;
    color: white;
    font-weight: bold;
}

.filter-container .filter form .input-container label {
    font-size: 15px;
}

.filter-container .filter form .buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;

}

.filter-container .filter form .buttons .form-btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: chocolate;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: "Playwrite GB S", cursive;
}

.filter-container .filter form .buttons .form-btn:hover {
    background-color: rgb(122, 56, 8);
}

@media screen and (max-width: 980px) {
    .filter-container .filter {
        width: 100%;
        min-height: auto;
    }


    .filter-container .filter form {
        padding: 10px;
    }

}

@media screen and (max-width: 771px) {
    .filter-toggle {
        display: block;
    }

    .filter-container {
        display: none;
    }

    .filter-container .filter .filter-header .close-btn {
        display: flex;
    }
}